/* CARROSEL DE IMAGENS - SECTION HOME */
    .home-slide .slide{
        animation-name: carrosel;
        animation-duration: 15s;
        animation-iteration-count: infinite;
    }
    
  @keyframes carrosel{
      25%{
          opacity: 1;
          transform: scale(1.1,1.1);
      }
      50%{
          opacity: 0;
      }
  }

  .slide:nth-child(1){

  }
  .slide:nth-child(2){
    animation-delay: 5s;
  }
  .slide:nth-child(3){
    animation-delay: 10s
  }
/* FIM CARROSEL - SECTION HOME */
